@font-face {
    font-family: Kanit;
    src: url("./Kanit-Regular.ttf");
}
@font-face {
    font-family: KanitBold;
    src: url("./Kanit-BoldItalic.ttf");
}
@font-face {
    font-family: RubikVinyl;
    src: url("./RubikVinyl-Regular.ttf");
}