@import url("./fonts/fonts.css");

* {
    box-sizing: border-box;
}

:root {
    --dark_clr: #06457b;
    --primary_clr: #036ac3;
    --secondary_clr: #3f95e1;
    --light_clr: #60aef2;
    --success_clr: #04b513;
    --error_clr: #b50404;
}

body {
    margin: 0;
    background: linear-gradient(var(--secondary_clr), var(--primary_clr));
}

p {
    margin: 0;
}

.pageContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loginPage {
    border: 4px solid var(--dark_clr);
    border-radius: 20px;
    padding: 25px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#loginPage input {
    font-size: 2rem;
    background-color: black;
    border: none;
    border-radius: 50px;
    padding: 0 10px;
    color: rgba(255, 255, 255, .8);
    outline: solid 2px var(--light_clr);
}

#loginPage input::placeholder {
    color: rgba(255, 255, 255, .8);
}

#loginPage input:hover {
    background-color: var(--dark_clr);
    cursor: pointer;
}

#loginPage h1 {
    text-align: center;
    color: white;
    margin-bottom: 2.5rem;
    font-family: RubikVinyl;
}


#finishPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#finishPage h1 {
    font-size: 4rem;
    font-family: RubikVinyl;
    color: white;
    text-align: center;
}

#finishPage h3 {
    font-size: 2.5rem;
}

.results {
    background-color: black;
    border: solid 2px var(--light_clr);
    padding: 10px 20px;
    color: var(--light_clr);
}

/* games */
#gamePage {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    color: white;
    gap: 10px;
}

/* @media (max-width:600px) {
    #gamePage{
        flex-direction: column;
    }
} */

#gamePage>div {
    flex-grow: 1;
    width: 100%;
}

.prizes-container {
    max-width: 200px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.prizes-container>p {
    background-color: var(--primary_clr);
    text-align: center;
    user-select: none;
    font-family: KanitBold;
}

.takenPrize {
    background-color: var(--dark_clr) !important;
}

.prizes-container > p:nth-last-child(0){
    color: red;
}
.question-container {
    max-width: 700px;
    min-width: 250px;
    border: 2px solid var(--dark_clr);
    padding: 10px;
}

.question-container input {
    font-size: 1.5rem;
    background-color: black;
    border-radius: 50px;
    margin-top: 10px;
    padding: 0 10px;
    color: var(--light_clr);
    outline: solid 2px var(--light_clr);
    float: right;
}

.question-container>input:hover {
    background-color: var(--dark_clr);
    cursor: pointer;
}

.question-container h3 {
    margin: 0;
    font-family: KanitBold;
    border-bottom: 2px solid var(--dark_clr);
    margin-bottom: 10px;
    font-size: 2rem;
    user-select: none;
    overflow-wrap: break-word;
}

.answer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
}

.answer-container>p {
    width: 45%;
    border: 1px solid var(--dark_clr);
    font-size: 1.5rem;
    overflow-wrap: break-word;
    padding: 5px;
    user-select: none;
}

.answer-container>p:hover {
    background-color: var(--light_clr);
    cursor: pointer;
}

.tips-container {
    min-width: 50px;
    max-width: 100px;
    display: flex;
    flex-direction: column;
    user-select: none;
    gap: 10px;
}

.tips-container button {
    width: 100%;
}

.tips-container img {
    width: 30px;
}

.correctAnswer {
    background-color: var(--success_clr) !important;
}

.disabledAnswersContainer>p {
    pointer-events: none !important;
}

.wrongAnswer {
    background-color: var(--error_clr) !important;
}