@import url("./fonts/fonts.css");

:root {
    --dark_clr: #06457b;
    --primary_clr: #036ac3;
    --secondary_clr: #3f95e1;
    --light_clr: #60aef2;
}

body {
    margin: 0;
    background: linear-gradient(var(--secondary_clr), var(--primary_clr));
}

.pageContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loginPage {
    border: 4px solid var(--dark_clr);
    border-radius: 20px;
    padding: 25px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#loginPage input {
    font-size: 2rem;
    background-color: black;
    border: none;
    border-radius: 50px;
    padding: 0 10px;
    color: var(--light_clr);
    outline: solid 2px var(--light_clr);
}

#loginPage input:hover {
    background-color: var(--dark_clr);
    cursor: pointer;
}

#loginPage h1 {
    text-align: center;
    color: white;
    margin-bottom: 2.5rem;
    font-family: RubikVinyl;
}


#finishPage{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#finishPage h1{
    font-size: 4rem;
    font-family: RubikVinyl;
    color: white;
}
#finishPage h3{
    font-size: 2.5rem;
}

.results {
    background-color: black;
    border: solid 2px var(--light_clr);
    padding: 10px 20px;
    color: var(--light_clr);
}