    main {
        width: 90%;
        margin: 100px auto;
    }
    
    #container {
        width: 50%;
        height: 550px;
        margin: 0 auto;
        box-shadow: 1px 1px 10px black;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .line {
        width: 100px;
        height: 100px;
        box-shadow: 1px 1px 5px black;
    }