.container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
}

#word_container {
    display: inline-flex;
}

#word_container>div {
    width: 50px;
    height: 50px;
    border: 2px solid;
    font-size: 30px;
    padding-top: 6px;
    box-sizing: border-box;
    text-align: center;
    font-family: monospace;
}

#symbols_container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}


.disable_all_buttons > button {
    pointer-events: none;
}

#finishPage{
    display: none;
}