#root{
    width: 600px;
    border: 1px solid black;
    margin: 0 auto;
}

.sual{
    border-bottom: 1px solid black;
    height: 60px;
    padding: 10px;
    box-sizing: border-box;
}

.NoPointerEvents{
    pointer-events: none !important;
}

.cavab>li{
    border: none;
    margin: 5px 0px;
    background-color: transparent;
    width: 200px;
    text-align: left;
}

.cavab>li:hover{
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


.skipBtn{
    display: block;
    margin-right: 20px;
    border: none;
    background-color: transparent;
    margin-left: auto;
    margin-bottom: 10px;
}

.skipBtn:hover{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    cursor: pointer;
}

.dogruCavab{
    background-color: lime !important;
}

.yanlisCavab{
    background-color: red !important;
}