* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calculator {
    max-width: 250px;
    height: 250px;
    margin: 0 auto;
    border: 2px solid;
    padding: 20px;
    border-radius: 8px;
}

input {
    width: 100%;
    outline: none;
    height: 30px;
    font-size: 24px;
    text-align: right;
}


.btn-container button {
    width: 38px;
    height: 40px;
    padding: 0;
    margin: 4px 0px;
}


button {
    border: none;
    background-color: gray;
    transition: all 200ms;
    border-radius: 4px;
    font-size: 20px;
}

button:hover {
    cursor: pointer;
    background-color: #eee;
    box-shadow: 0px 0px 4px inset black, 0px 0px 4px black;
}
